# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build products
build/
DerivedData/
*.o
*.LinkFileList

# Swift Package Manager
.build/
.swiftpm/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Other IDEs
.idea/
*.iml
.vscode/

# Temporary/backup files
*.swp
*.lock
*.orig
*.tmp
